<%- include(`../partials/head`) %>

<link rel="stylesheet" type="text/css" href="/styles/businessForm.css">

<%- include(`../partials/head-end`) %>

<%- include(`../partials/header`) %>

<!--========================Body Content========================/---->
<div class="wrapper">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <h4 class="page-title">Fill Your Information</h4>

                    <ol class="breadcrumb ">
                        <li class="active"><%= docTitle%></li>
                        <li class="active">Forms</li>
                        <li class="active">Information</li>
                    </ol>

            </div>

        </div>

        <form  id="business-form" data-listing-id="<%= businessFormDetail._id %>"   >

            <div class="row">

                <div class="col-lg-6">

                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Name and Address</b></h4>

                        <p class="text-muted font-13 m-b-30">
                            Fill the firm name and Address
                        </p>

                        <div class="form-group">
                            <label for="location_name">Location Name*</label>
                            <input type="text" value="<%= businessFormDetail && businessFormDetail.location_name ? businessFormDetail.location_name : ``%>" name="location_name" parsley-trigger="change"  placeholder="Enter Location Name" class="form-control" id="location_name">
                        </div>

                        <div class="form-group">
                            <label for="city">City*</label>
                            <input type="text" name="city" value="<%= businessFormDetail && businessFormDetail.city ? businessFormDetail.city : ``%>" parsley-trigger="change"  placeholder="Enter City" class="form-control" id="city">
                        </div>

                        <div class="form-group">
                            <label for="country">Country*</label>
                            <input type="text" value="<%= businessFormDetail && businessFormDetail.country ? businessFormDetail.country : ``%>"  name="country" parsley-trigger="change"  placeholder="Enter Country" class="form-control" id="country">
                        </div>

                        <div class="form-group">
                            <label for="address">Address and Landmark*</label>
      
                            <textarea type="address"  name="address" parsley-trigger="change"  placeholder="Enter Address" class="form-control" id="address"> <%= businessFormDetail && businessFormDetail.address ? businessFormDetail.address : ``%></textarea>
                        </div>
                    
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Basic Info</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            We want some of your info to show in our app.
                        </p>

                            <div class="form-group">

                                <% const interestsArrExists = businessFormDetail.interests && businessFormDetail.interests && Array.isArray(businessFormDetail.interests); %>

                                <label for="CityName">Interests* </label>
                                <p class="text-muted  font-12">Select Category In which your firm lies</p>
                                <select class="selectpicker m-b-0" name="interests" multiple data-max-options="3" data-style="btn-white">
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Food & Wine`)) ? `selected` : `` %>
                                    >Food & Wine</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`City Life`)) ? `selected` : `` %>
                                    >City Life</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Nightlife & Entertainment`)) ? `selected` : `` %>
                                    >Nightlife & Entertainment</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`History, Art & Culture`)) ? `selected` : `` %>
                                    >History, Art & Culture</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Nature`)) ? `selected` : `` %>
                                    >Nature</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Mountains`)) ? `selected` : `` %>
                                    >Mountains</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Beaches`)) ? `selected` : `` %>
                                    >Beaches</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Lakes & Rivers`)) ? `selected` : `` %>
                                    >Lakes & Rivers</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Wildlife`)) ? `selected` : `` %>
                                    >Wildlife</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Dunes & Deserts`)) ? `selected` : `` %>
                                    >Dunes & Deserts</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Road Trips`)) ? `selected` : `` %>
                                    >Road Trips</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Adventure Sports`)) ? `selected` : `` %>
                                    >Cruises</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Adventure Sports`)) ? `selected` : `` %>
                                    >Adventure Sports</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Hotels & Wellness`)) ? `selected` : `` %>
                                    >Hotels & Wellness</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Retail Therapy`)) ? `selected` : `` %>
                                    >Retail Therapy</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Kid Friendly`)) ? `selected` : `` %>
                                    >Kid Friendly</option>
                                    <option
                                    <%= (interestsArrExists && businessFormDetail.interests.includes(`Other`)) ? `selected` : `` %>
                                    >Other</option>
                                </select>
                            </div>



                            <div class="form-group">
                                <label for="Country">Contact Number*</label>
                                <input type="number" name="contact_number" parsley-trigger="change" value="<%= businessFormDetail && businessFormDetail.contact_number ? businessFormDetail.contact_number : ``%>"  placeholder="Enter Contact Number" class="form-control" id="contact_number">
                            </div>


                            <div class="form-group">
                                <label for="Website">Website*</label>
                                <p class="text-muted  font-12">Example:www.abcd.com/hotles</p>
                                <input type="text" name="website" value="<%= businessFormDetail && businessFormDetail.website ? businessFormDetail.website : ``%>" parsley-trigger="change"  placeholder="Enter Website Link" class="form-control" id="website">
                            </div>

                    </div>
                </div>
            </div><!-- end row -->

            <div class="row">

                <div class="col-lg-12">
                    
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>TIMINGS*</b></h4>

                        <p class="text-muted font-13 m-b-30">
                            Select day and fill the timings
                        </p>

                        <!--================== Monday ============== -->

                        <div class="row m-b-30">

                            <div class="col-sm-12">

                                <div class="form-inline">
                        
                                    <div class="form-group m-r-15">
                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="monday-time" name="monday" value="monday" type="checkbox">
                                            <label for="checkbox"> Monday </label>
                                        </div>
                                    </div>

                                    <div id="monday-open-close-time">

                                        <div class="input-group m-b-0">

                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker" type="text" name="monday_start_time" class="form-control">
                                            </div>
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
    
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>
    
                                        <div class="input-group m-b-0">
    
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker3" name="monday_end_time"  type="text" class="form-control">
                                            </div>
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
    
                                        </div>
                                    </div>

                                </div>
                            
                            </div>

                        </div>

                        <!--================== Tuesday ============== -->

                        <div class="row m-b-30">
                            <div class="col-sm-12">
                        
                                <div class="form-inline">

                                    <div class="form-group m-r-15">
                                        
                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="tuesday-time" name="tuesday" value="tuesday" type="checkbox"  >
                                            <label for="checkbox"> Tuesday </label>
                                        </div>

                                    </div>

                                    <div id="tuesday-open-close-time">
                                        <div class="input-group m-b-0">

                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker4" name="tuesday_start_time" type="text" class="form-control">
                                            </div>
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
    
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>
    
                                        <div class="input-group m-b-0">
    
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker5" name="tuesday_end_time" type="text" class="form-control">
                                            </div>
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
    
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--================== Wednesday ============== -->

                        <div class="row m-b-30">
                            <div class="col-sm-12">

                                <div class="form-inline" >

                                    <div class="form-group m-r-15">

                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="wednesday-time" class="wednesday" value="wednesday" type="checkbox">
                                            <label for="checkbox"> Wednesday  </label>
                                        </div>

                                    </div>

                   
                                    <div id="wednesday-open-close-time">
                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker6" name="wednesday_start_time" type="text" class="form-control">
                                            </div>
    
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker7" type="text" name="wednesday_start_time" class="form-control">
                                            </div>
    
                                            <span class="input-group-addon bg-custom b-0 text-white"><i  class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!--================== Thursday ============== -->

                        <div class="row m-b-30">
                            <div class="col-sm-12">

                                <div class="form-inline" >

                                    <div class="form-group m-r-15">
                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="thursday-time" name="thursday" value="thursday" type="checkbox">
                                            <label for="checkbox"> Thursday </label>
                                        </div>
                                    </div>

                                    <div id="thursday-open-close-time">
                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker8" name="thursday_start_time" type="text" class="form-control">
                                            </div>
    
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker9" name="thursday_end_time"  type="text" class="form-control">
                                            </div>
    
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!--================== Friday ============== -->

                        <div class="row m-b-30">
                            <div class="col-sm-12">

                                <div class="form-inline">

                                    <div class="form-group m-r-15">
                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="friday-time" name="friday" value="friday" type="checkbox">
                                            <label for="checkbox"> Friday </label>
                                        </div>
                                    </div>

                                    <div id="friday-open-close-time">
                                        <div class="input-group m-b-0">

                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker10" name="fridday_start_time" type="text" class="form-control">
                                            </div>
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
    
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>
    
                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker11" name="friday_end_time" type="text" class="form-control">
                                            </div>
    
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!--================== Saturday ============== -->

                        <div class="row m-b-30">
                            <div class="col-sm-12">

                                <div class="form-inline" >

                                    <div class="form-group m-r-15">
                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="saturday-time" name="saturday" value="saturday" type="checkbox">
                                            <label for="checkbox"> Saturday </label>
                                        </div>
                                    </div>

                                    <div id="saturday-open-close-time">

                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker12" name="saturday_start_time" type="text" class="form-control">
                                            </div>

                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>

                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>

                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker13" name="saturday_end_time" type="text" class="form-control">
                                            </div>

                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <!--================== Sunday ============== -->

                        <div class="row m-b-30">
                            <div class="col-sm-12">

                                <div class="form-inline" >

                                    <div class="form-group m-r-15">
                                        <div class="checkbox checkbox-inverse checkbox-circle">
                                            <input id="checkbox-15" class="sunday-time" name="sunday" value="sunday" type="checkbox">
                                            <label for="checkbox"> Sunday </label>
                                        </div>
                                    </div>

                                    <div id="sunday-open-close-time">

                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker14" name="sunday_start_time" type="text" class="form-control">
                                            </div>

                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>

                                        <div class="input-group m-b-0">
                                            <span class="text-muted  font-12">TO</span>
                                        </div>

                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker15" type="text"  name="sunday_end_time" class="form-control">
                                            </div>

                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div><!-- end row -->

            <div class="row">
                <div class="col-lg-12">

                    <div class="card-box">

                        <h4 class="m-t-0 header-title"><b>description*</b></h4>
                        <p class="text-muted font-13 m-b-30"> Tell us Someting About you </p>

                        <div class="form-group">
                            <textarea type="description"  name="description" parsley-trigger="change"  placeholder="Enter Description" class="form-control" id="description"><%= businessFormDetail && businessFormDetail.description ? businessFormDetail.description : ``%></textarea>
                        </div>

                    </div>

                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-lg-12">

                    <div class="card-box">

                        <label for="gallery">Item Images:</label>
                        <input type="file" name="gallery" id="gallery" type="image/*" multiple/>
        
                        <% businessFormDetail.media.gallery.forEach((image) => { %>
                        <section class="media-wrapper">
                            <img style="height: 130px;" src="<%= image.resource_url %>" class="preview-image lazy item-image">
                            <span class="remove-media" data-media-category="gallery" data-media-id="<%= image._id %>">delete</span>
                        </section>
                        <% }); %>
                    </div>

                </div>
            </div><!-- end row -->
          
            
            <div class="row">
                <div class="col-lg-12">

                    <div class="card-box">

                        <button class="btn btn-primary" type="submit"> Submit</button>
                    </div>

                </div>
            </div><!-- end row -->


        </form> 
        


    </div> <!-- end container -->

    
</div>
<!-- end wrapper -->




<%- include(`../partials/footer`) %>

<script src="/scripts/business-form-bundle.js"></script>

<%- include(`../partials/end`) %>