<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Host Page">
    <meta name="author" content="pyttechnologies">

    <link rel="shortcut icon" href="/assets/images/pyt.png">

    <title>pyt - Business</title>



    <link href="/assets/plugins/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="/assets/js/modernizr.min.js"></script>
    <script>(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-69506598-1', 'auto');
        ga('send', 'pageview');
    </script>


    <style>
        #Business_hour_panel {
            border-style: none;
            background-color: #212159;
        }

        #image-card-section{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

        .panel-heading {
            color: #FFE34C;
            background-color: #212159;
            font-size: 1.32em;
            font-family: Rockwell;
            height: 60px;
        }

        #clock {
            font-size: 1.40em;
        }

        #btn {
            color: #212159;
            background-color: #FFE34C;
            font-size: .75em;
            font-family: Geneva;
            float: right;
        }



        tbody,
        .danger,
        .success {
            background-color: #212159;
            color: #212159;
            border-color: #6D6DA4;
            font-family: Geneva, Tahoma, Verdana, sans-serif;
            ;
            font-size: 1.5;
            font-weight: 500;
            text-align: center;
        }
    </style>

</head>


<body>


    <!--======================== Navigation Bar ========================/---->

    <header id="topnav">
        <div class="topbar-main">
            <div class="container">

                <!-- Logo container-->
                <div class="logo">
                    <a class="logo"><span>PYT - Business</span></a>
                </div>
                <!-- End Logo container-->


                <div class="menu-extras">

                    <ul class="nav navbar-nav navbar-right pull-right">



                        <li class="dropdown navbar-c-items">
                            <a href="/business-form/edit/<%=businessFormDetail && businessFormDetail._id ?  businessFormDetail._id: ``%>"
                                class="dropdown-toggle waves-effect waves-light profile"><i
                                    class="glyphicon glyphicon-edit "></i>&nbsp; Edit Info</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </header>
    <!-- End Navigation Bar-->




    <!--========================Body Content========================/---->


    <div class="wrapper">
        <div class="container">


            <!--========== Basic Info ===================!-->

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class=" m-t-0 header-title"><b>Basic Info</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <h2 class="m-0 text-dark  font-600"><%=businessFormDetail && businessFormDetail.location_name ? businessFormDetail.location_name: ``%></h2>
                                <p class="m-0 text-dark"><%=businessFormDetail && businessFormDetail.city ? businessFormDetail.city: ``%>, <%=businessFormDetail && businessFormDetail.country ? businessFormDetail.country: ``%></p>
                                <hr>

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#myModal">Click Here To view Timings</button>


                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Opening Timings</h5>

                                            </div>
                                            <div class="modal-body">
                                                <div class="panel" id="Business_hour_panel">

                                                    <div class="body">
                                                        <table class="table">
                                                            <tbody>
                                                                
                                                      
                                                                <%if(businessFormDetail && businessFormDetail.timing && businessFormDetail.timing.length ){%>

                                                                    <%businessFormDetail.timing.forEach((time)=>{%>
                                                                        <tr class="success">
                                                                            <td><%=time.day%></td>
                                                                            <td><%=time.open_timing%> to <%=time.close_timing%></td>
                                                                        </tr>
                                                                    <% }) %>

                                                                <% } else { %>
                                                                    <tr class="success">
                                                                        <td>Available</td>
                                                                        <td>24 Hours</td>
                                                                    </tr>
                                                                <% } %>
                                                               
                                                         
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <hr>

                                <p class="m-0 text-dark">Location</p>
                                <h4>  <%=businessFormDetail && businessFormDetail.location_name ? businessFormDetail.location_name: ``%></h4>
                                <hr>

                                <p class="m-0 text-dark">Website</p>
                                <a href="#">
                                    <h4 style="color:#00b4ff;">
                                        <%=businessFormDetail && businessFormDetail.website ?
                                            businessFormDetail.website: ``%>
                                    </h4>
                                </a>
                                <hr>

                                <p class="m-0 text-dark">Interests</p>
                                <h4>
                                    <%= businessFormDetail && businessFormDetail.interests ? businessFormDetail.interests.map(interest=>interest): ``%>
                                </h4>
                                <hr>


                                <p class="m-0 text-dark">Address</p>
                                <h4>
                                    <%=businessFormDetail && businessFormDetail.address ? businessFormDetail.address:
                                        ``%>
                                </h4>
                                <hr>


                                <p class="m-0 text-dark">Contact Info</p>
                                <h4>
                                   Phone Number :- <%=businessFormDetail && businessFormDetail.contact_number ?
                                        businessFormDetail.contact_number: ``%>
                                </h4>
                                <h4>
                                   Email Address :- <%= businessFormDetail && businessFormDetail.email_address ?
                                        businessFormDetail.email_address: ``%>
                                </h4>


                            </div>
                            <!-- col-md-6 -->

                            <div class="col-md-6">

                                <div id="map"></div>

                            </div>
                            <!-- col-md-6 -->
                        </div>
                    </div>
                </div>
            </div><!-- End Row -->


            <!--========== Basic Info Ends Here ===================!-->





            <!--========== Description ===================!-->

            <div class="row">
                <div class="masonry-container  ">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="card-box">
                            <h3 class="header-title m-t-0 "><b>Description</b></h3>
                            <p class="text-muted m-b-20 font-13 ">
                                <%= businessFormDetail && businessFormDetail.description ? businessFormDetail.description : ``%>
                            </p>

                        </div>
                    </div><!-- col-lg-12 -->
                </div><!-- End Row -->

                <!--========== Description Ends Here ===================!-->





                <!--========== Location Pictures ===================!-->

                <div class="row" >
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="card-box" id="image-card-section">

                            <h4 class=" m-t-0 header-title"><b>Pictures of Location<%=businessFormDetail.media.gallery.length%></b></h4>
                            <p class="text-muted m-b-30 font-13"></p>

                            <div class="owl-carousel owl-theme">

                                <%if( businessFormDetail && businessFormDetail.media) { %>
                                    <% businessFormDetail.media.gallery.forEach((image)=>{ %>
                                        <div class="item">
                                            <img style="height: 130px; border-radius: 5px;" src="<%=image.resource_url%>" />
                                        </div>
                                  
                                    <%}) %>

                                <%} %>

                            </div>
                        </div>
                    </div><!-- col-lg-12 -->
                </div><!-- End Row -->

                <!--========== Location Info Ends Here ===================!-->


                                <!--========== PYT Pictures ===================!-->
                                <%if( businessFormDetail && businessFormDetail.pytImages && businessFormDetail.pytImages.length ) { %>
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <div class="card-box" id="image-card-section">
                
                                            <h4 class=" m-t-0 header-title"><b>More Gallery</b></h4>
                                            <p class="text-muted m-b-30 font-13"></p>
                
                                            <div class="owl-carousel owl-theme">
                
                                                
                                                    <% businessFormDetail.pytImages.forEach((imgLink)=>{ %>
                                                        <div class="item">
                                                            <img style="height: 130px; border-radius: 5px;" src="<%=imgLink%>" />
                                                        </div>
                                                  
                                                    <%}) %>
                
                
                                            </div>
                                        </div>
                                    </div><!-- col-lg-12 -->
                                </div><!-- End Row -->
                
                                <%} %>
                                




                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                © 2022. All rights reserved.
                            </div>
                            <div class="col-xs-6">
                                <ul class="pull-right list-inline m-b-0">
                                    <li>
                                        <a target="_blank" href="http://pictureyourtravel.com/">PYT | Picture Your
                                            Travel</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            </div>
        </div>
    </div><!-- Wrapper -->



    <!--========== Location Info Ends Here ===================!-->

    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/detect.js"></script>
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/jquery.blockUI.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App core js -->
    <script src="/assets/js/jquery.core.js"></script>
    <script src="/assets/js/jquery.app.js"></script>




    <!-- owl carousel js -->
    <script src="/assets/plugins/owl.carousel/dist/owl.carousel.min.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
    defer
  ></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            //owl carousel

            //Owl-Multi
            $('.owl-carousel').owlCarousel({
                loop: false,
                rewind: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
        });

        // Initialize and add the map
function initMap() {
  // The location of Uluru
  const uluru = { lat: -25.344, lng: 131.031 };
  // The map, centered at Uluru
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: uluru,
  });
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: uluru,
    map: map,
  });
}

window.initMap = initMap;

    </script>


</body>

<!-- Mirrored from coderthemes.com/ubold_2.4/menu_2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Aug 2017 12:11:44 GMT -->

</html>