<%- include(`../partials/head`) %>

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> 
    <link rel="stylesheet" type="text/css" href="/styles/businessForm.css">

    <%- include(`../partials/head-end`) %>

        <%- include(`../partials/header`) %>

            <!--========================Body Content========================/---->
            <div class="wrapper">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-12">

                            <h4 class="page-title">Fill Your Business Information</h4>

                            <ol class="breadcrumb ">
                                <li class="active">
                                    <%= docTitle%>
                                </li>
                                <li class="active">Forms</li>
                                <li class="active">Information</li>
                            </ol>

                        </div>

                    </div>


                    <form id="business-form">

                        <div class="row">

                            <div class="col-lg-6">

                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Name and Address</b></h4>

                                    <p class="text-muted font-13 m-b-30">
                                        Fill the firm name and Address
                                    </p>

                                    <div class="form-group">
                                        <label for="location_name">Location Name*</label>
                                        <input type="text"
                                            value="<%= postDetail && postDetail.placeTag ? postDetail.placeTag : ``%>"
                                            name="location_name" parsley-trigger="change"
                                            placeholder="Enter Location Name" class="form-control" id="location_name">
                                    </div>

                                    <div class="form-group">
                                        <label for="city">City*</label>
                                        <input type="text" name="city"
                                            value="<%= postDetail && postDetail.city ? postDetail.city : ``%>"
                                            parsley-trigger="change" placeholder="Enter City" class="form-control"
                                            id="city">
                                    </div>

                                    <div class="form-group">
                                        <label for="country">Country*</label>
                                        <input type="text"
                                            value="<%= postDetail && postDetail.country ? postDetail.country : ``%>"
                                            name="country" parsley-trigger="change" placeholder="Enter Country"
                                            class="form-control" id="country">
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Address and Landmark*</label>

                                        <textarea type="address" name="address" parsley-trigger="change"
                                            placeholder="Enter Address" class="form-control"
                                            id="address"> <%= postDetail ? postDetail.postIDs[0].location.address : ``%> </textarea>
                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Basic Info</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        We want some of your info to show in our app.
                                    </p>

                            <div class="form-group">
                                <label for="CityName">Interests*</label>
                                <p class="text-muted  font-12">Select Category In which your firm lies</p>
                                <select class="selectpicker m-b-0" name="interests" multiple data-max-options="3" data-style="btn-white">
                                    <option>Food & Wine</option>
                                    <option>City Life</option>
                                    <option>Nightlife & Entertainment</option>
                                    <option>History, Art & Culture</option>
                                    <option>Nature</option>
                                    <option>Mountains</option>
                                    <option>Beaches</option>
                                    <option>Lakes & Rivers</option>
                                    <option>Wildlife</option>
                                    <option>Dunes & Deserts</option>
                                    <option>Road Trips</option>
                                    <option>Cruises</option>
                                    <option>Adventure Sports</option>
                                    <option>Hotels & Wellness</option>
                                    <option>Retail Therapy</option>
                                    <option>Kid Friendly</option>
                                    <option>Other</option>
                                </select>
                            </div>



                                    <div class="form-group" id="contact-number-section">
                                        <label for="Country">Contact Number*</label>
                                        <input id="contact_number" name="contact_number" parsley-trigger="change" placeholder="Enter Contact Number" class="form-control" type="number">
                                    </div>


                                    <div class="form-group">
                                        <label for="Website">Website*</label>
                                        <p class="text-muted  font-12">https://www.example.com</p>
                                        <input type="text" name="website" parsley-trigger="change"
                                            placeholder="Enter Website Link" class="form-control" id="website">
                                    </div>

                                </div>
                            </div>
                        </div><!-- end row -->

                        <div class="row">

                            <div class="col-lg-12">

                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>TIMINGS*</b></h4>

                                    <p class="text-muted font-13 m-b-30">
                                        Select day and fill the timings
                                    </p>

                                    <!--================== Monday ============== -->

                                    <div class="row m-b-30">

                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">
                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="monday-time" name="monday"
                                                            value="monday" type="checkbox">
                                                        <label for="checkbox"> Monday </label>
                                                    </div>
                                                </div>

                                                <div id="monday-open-close-time">

                                                    <div class="input-group m-b-0">

                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker" type="text" name="monday_start_time"
                                                                class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>

                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">

                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker3" name="monday_end_time" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!--================== Tuesday ============== -->

                                    <div class="row m-b-30">
                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">

                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="tuesday-time" name="tuesday"
                                                            value="tuesday" type="checkbox">
                                                        <label for="checkbox"> Tuesday </label>
                                                    </div>

                                                </div>

                                                <div id="tuesday-open-close-time">
                                                    <div class="input-group m-b-0">

                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker4" name="tuesday_start_time"
                                                                type="text" class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>

                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">

                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker5" name="tuesday_end_time" type="text"
                                                                class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--================== Wednesday ============== -->

                                    <div class="row m-b-30">
                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">
                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="wednesday-time" name="wednesday"
                                                            value="wednesday" type="checkbox">
                                                        <label for="checkbox"> Wed </label>
                                                    </div>
                                                </div>

                                                <div id="wednesday-open-close-time">
                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker8" name="wednesday_start_time"
                                                                type="text" class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker9" name="wednesday_end_time"
                                                                type="text" class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                    <!--================== Thursday ============== -->

                                    <div class="row m-b-30">
                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">
                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="thursday-time" name="thursday"
                                                            value="thursday" type="checkbox">
                                                        <label for="checkbox"> Thursday </label>
                                                    </div>
                                                </div>

                                                <div id="thursday-open-close-time">
                                                    <div class="input-group m-b-0">

                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker10" name="thursday_start_time"
                                                                type="text" class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>

                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker11" name="thursday_end_time" type="text"
                                                                class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <!--================== Friday ============== -->

                                    <div class="row m-b-30">
                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">
                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="friday-time" name="friday"
                                                            value="friday" type="checkbox">
                                                        <label for="checkbox"> Friday </label>
                                                    </div>
                                                </div>

                                                <div id="friday-open-close-time">
                                                    <div class="input-group m-b-0">

                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker10" name="friday_start_time"
                                                                type="text" class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>

                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker11" name="friday_end_time" type="text"
                                                                class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!--================== Saturday ============== -->

                                    <div class="row m-b-30">
                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">
                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="saturday-time" name="saturday"
                                                            value="saturday" type="checkbox">
                                                        <label for="checkbox"> Saturday </label>
                                                    </div>
                                                </div>

                                                <div id="saturday-open-close-time">

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker12" name="saturday_start_time"
                                                                type="text" class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker13" name="saturday_end_time"
                                                                type="text" class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <!--================== Sunday ============== -->

                                    <div class="row m-b-30">
                                        <div class="col-sm-12">

                                            <div class="form-inline">

                                                <div class="form-group m-r-15">
                                                    <div class="checkbox checkbox-inverse checkbox-circle">
                                                        <input id="checkbox-15" class="sunday-time" name="sunday"
                                                            value="sunday" type="checkbox">
                                                        <label for="checkbox"> Sunday </label>
                                                    </div>
                                                </div>

                                                <div id="sunday-open-close-time">

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker14" name="sunday_start_time"
                                                                type="text" class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <span class="text-muted  font-12">TO</span>
                                                    </div>

                                                    <div class="input-group m-b-0">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker15" type="text" name="sunday_end_time"
                                                                class="form-control">
                                                        </div>

                                                        <span class="input-group-addon bg-custom b-0 text-white"><i
                                                                class="glyphicon glyphicon-time"></i></span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div><!-- end row -->

                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <div class="card-box">

                                    <h4 class=" m-t-0 header-title text-center"><b>Pictures of Location</b></h4>
                                    <p class="text-muted m-b-30 font-13"></p>

                                    <% let imageArr = [] %>

                                    <% postDetail.postIDs.forEach((postID)=>{
                                        imageArr.push(...postID.image.imageLarge)
                                    }) %>


                                    <div class="owl-carousel owl-theme">

                                        <%if( imageArr) { %>
                                            <% imageArr.forEach((imageLarge)=>{ %>
                                                <div class="item" id="carousel-image-sectio">
                                                    <img style="height: 130px;" src="<%=imageLarge%>" />
                                                </div>
                                            <%}) %>

                                        <%} %>

                                    </div>

                                </div>
                            </div><!-- col-lg-12 -->
                        </div><!-- End Row -->



                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <div class="card-box">

                                    <h1 class="m-5 text-center">Reviews</h1>


                                    <div class="sd_master_wrapper">
                                        <div class="sdtestBg2"></div>
                                        <div class="sdtestBg3"></div>
                                        <div class="slideshow">

                                            <div class="content">
                                                <!-- slide 1 -->
                                                <div class="thumbnail">
                                                    <img
                                                        src="https://farsighttechnologies.com/wp-content/uploads/2020/09/AC.jpg">
                                                </div>
                                                <div class="btnNtxt">
                                                    <div class="sdAllContent">

                                                        <div class="sd_scroll">
                                                            <h1 class="sdCustomSliderHeadig">A wonderful, user-friendly
                                                                HR
                                                                solution! Farsight HR Solution helped us implement ESS
                                                                (Employee Self Service) portal for our large enterprise,
                                                                which made both employees and Human Resources more
                                                                productive. User-oriented interface and professional
                                                                team.
                                                            </h1>
                                                        </div>
                                                        <p class="SdClientName">Name:- Manmohan kumar</p>
                                                        <p class="SdClientDesc">Date: - 22/22/22 </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <!-- slide 2 -->
                                                <div class="thumbnail">
                                                    <img
                                                        src="https://farsighttechnologies.com/wp-content/uploads/2020/09/MS.jpg">
                                                </div>
                                                <div class="btnNtxt">
                                                    <div class="sdAllContent">

                                                        <div class="sd_scroll">
                                                            <h1 class="sdCustomSliderHeadig">For us, Farsight has become
                                                                much more than a software solution provider. Farsight
                                                                has
                                                                been our helping hand with implementing business
                                                                automation.
                                                                The team's expertise, skill, and commitment to
                                                                excellence
                                                                are what makes them so great.</h1>
                                                        </div>
                                                        <p class="SdClientName">Name:- Manmohan kumar</p>
                                                        <p class="SdClientDesc">Date: - 22/22/22 </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <!-- slide 3 -->
                                                <div class="thumbnail">
                                                    <img
                                                        src="https://farsighttechnologies.com/wp-content/uploads/2020/09/RR.jpg">
                                                </div>
                                                <div class="btnNtxt">
                                                    <div class="sdAllContent">

                                                        <div class="sd_scroll">
                                                            <h1 class="sdCustomSliderHeadig">I would like to place on
                                                                record
                                                                my sincere appreciation for helping us to automate the
                                                                Salary Revision Exercise and also the Leave Management
                                                                System at Schneider Electric India. We have had huge
                                                                challenges in the past to manage these 2 complex
                                                                exercises
                                                                and it was a nightmare for HR every March/April. However
                                                                when we engaged you and worked closely to develop a
                                                                Software
                                                                Tool customised for Schneider Electric, our lives have
                                                                become very much easy. What used to be a pain for us
                                                                became
                                                                a huge gain for HR Shared Services.</h1>
                                                        </div>
                                                        <p class="SdClientName">Name:- Manmohan kumar</p>
                                                        <p class="SdClientDesc">Date: - 22/22/22 </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <!-- slide 4 -->
                                                <div class="thumbnail">
                                                    <img
                                                        src="https://farsighttechnologies.com/wp-content/uploads/2020/12/testimonial.png">
                                                </div>
                                                <div class="btnNtxt">
                                                    <div class="sdAllContent">
                                                        <div class="sd_scroll">
                                                            <h1 class="sdCustomSliderHeadig">With Farsight’s Employee
                                                                Self
                                                                Service Portal, our Vision of implementing an HR
                                                                Software in
                                                                Honda R&D (India) could be realized for the easy and
                                                                smooth
                                                                functioning of operations. Processes and Policies were
                                                                well
                                                                understood by the Team and extended a solution in the
                                                                System, we look forward for more such customizations
                                                                where
                                                                customer is always given a priority. We wish them
                                                                success
                                                                for all the future endeavors. </h1>
                                                        </div>
                                                        <p class="SdClientName">Name:- Manmohan kumar</p>
                                                        <p class="SdClientDesc">Date: - 22/22/22 </p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="spacer"></div>


                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card-box">

                                    <h4 class="m-t-0 header-title"><b>description*</b></h4>
                                    <p class="text-muted font-13 m-b-30"> Tell us Someting About you </p>

                                    <div class="form-group">
                                        <textarea type="description" name="description" parsley-trigger="change"
                                            placeholder="Enter Description" class="form-control"
                                            id="description"></textarea>
                                    </div>

                                </div>

                            </div>
                        </div><!-- end row -->

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card-box">

                                    <label for="item_gallery">Add Images:</label>
                                    <input class="form-control" type="file" name="gallery" id="gallery" type="image/*" multiple />

                                </div>

                            </div>
                        </div><!-- end row -->



                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card-box">

                                    <button class="btn btn-primary" type="submit"> Submit</button>
                                </div>

                            </div>
                        </div><!-- end row -->





                    </form>



                </div> <!-- end container -->


            </div>
            <!-- end wrapper -->



            <%- include(`../partials/footer`) %>

                <script src="/scripts/business-form-bundle.js"></script>

                <%- include(`../partials/end`) %>